* {box-sizing: border-box}
    body {font-family: "Lato", sans-serif;}

    /* Style the tab */
    .tab {
      float: left;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      width: 100%;
      height: auto;
    }

    /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 4px 4px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    height: 500px;
  }

  .navbar  {
      justify-content: center;
  }

  .option-title{
    font-size: 12px;
  }

  .option-title-sm{
    font-size: 10px;
  }

  .country-checkbox {
      font-size: 12px;
  }

  .footer {
    justify-content: center;
    font-size: 12px;
    position: fixed; /*fixed*/
    bottom: 0;
    left:0;
    right: 0;
    width: 100%;
    padding-top:10px;
    background-color: #f8f9fa;
    }


    .footer-text {
        text-align: center;
    }


    .option-control {
        padding: 2px;
    }

    .option-control-row {
        padding-left: 20px;
    }

    .chart-description {
        font-size: 14px;
        padding-left: 20px;
    }

    html {
      position: relative;
      min-height: 100%;
    }

    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }

    .checkbox-lg .custom-control-label::before,
    .checkbox-lg .custom-control-label::after {
      top: .8rem;
      width: 1.55rem;
      height: 1.55rem;
    }

    .checkbox-lg .custom-control-label {
      padding-top: 13px;
      padding-left: 6px;
    }


    .checkbox-xl .custom-control-label::before,
    .checkbox-xl .custom-control-label::after {
      top: 1.2rem;
      width: 1.85rem;
      height: 1.85rem;
    }

    .checkbox-xl .custom-control-label {
      padding-top: 23px;
      padding-left: 10px;
    }
    #selected-aggregation-over {
      width: 70px;
    }

    option-control-slider {
      width: 180px;
      padding-left: 10px;
      padding-right: 10px;
    }
